name: .NET Build and Test

on: [push, pull_request]

jobs:
  build:
    
    runs-on: ubuntu-slim
    strategy: 
      matrix:
        dotnet-version: [10.0]
    steps:
      - uses: actions/checkout@v5
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0'
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test with the dotnet CLI
        run: dotnet test --no-build
        